.slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}
#slider-inner {
    height: 100%;
    display: flex;

    /* solution with CSS */
    /* transition: transform 0.5s ease; */
    position: relative;
}

.slider-element {
    margin-left: 50px;
    margin-right: 50px;
}